<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtkj.mapper.TClassMapper">
  <resultMap id="BaseResultMap" type="com.xtkj.pojo.TClass">
    <id column="class_id" jdbcType="INTEGER" property="class_id" />
    <result column="class_name" jdbcType="VARCHAR" property="class_name" />
  </resultMap>
  <sql id="Base_Column_List">
    class_id, class_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbclass
    where class_id = #{class_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbclass
    where class_id = #{class_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xtkj.pojo.TClass">
    insert into tbclass (class_id, class_name)
    values (#{class_id,jdbcType=INTEGER}, #{class_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xtkj.pojo.TClass">
    insert into tbclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="class_id != null">
        class_id,
      </if>
      <if test="class_name != null">
        class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="class_id != null">
        #{class_id,jdbcType=INTEGER},
      </if>
      <if test="class_name != null">
        #{class_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtkj.pojo.TClass">
    update tbclass
    <set>
      <if test="class_name != null">
        class_name = #{class_name,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{class_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtkj.pojo.TClass">
    update tbclass
    set class_name = #{class_name,jdbcType=VARCHAR}
    where class_id = #{class_id,jdbcType=INTEGER}
  </update>
</mapper>